* {
  margin: 0;
  padding: 0;
  font-family: "Zilla Slab", serif;
}
.header {
  height: 450px;
  margin: 0 auto;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(80, 27, 71, 0.7),
      rgba(52, 158, 177, 0.7)
    ),
    url(../assets/img/background_1920x1080.png);
}
.header p {
  padding: 15px 300px;
  font-size: 22px;
}
.header a {
  padding: 15px;
  text-decoration: none;
  color: white;
  border: 1px solid gray;
}
.header a:hover {
  color: black;
  background-color: white;
}
.section-1 {
  min-height: 170px;
  background-color: rgb(217, 232, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-1 h2 {
  margin: 15px;
}
.section-1 p {
  margin: 10px;
  font-size: 18px;
}
.section-1 div {
  display: flex;
  flex-direction: row;
  margin: 15px 570px;
}
.section-2